html {
    height: 100%;
}
body {
    background: #eee;
    font-family: sans-serif;
    font-size: 13px;
    height: 100%;
    margin: 0;
    padding: 1em 0 0 0;
}
div {
    border: 0;
    padding: 0;
    margin: 0;
}
h1, h2, h3 {
    font-family: sans-serif;
    margin: 0 0 .5em 0;
}

#splash {
    background: #ccc;
    color: #fff;
    cursor: wait;
    display: none;
    font-size: 200%;
    font-weight: bold;
    height: 100%;
    padding-top: 10%;
    position: fixed;
    left: 0;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#overlay {
    background-color: transparent;
    background-repeat: no-repeat;
    display: none;
    height: 100%;
    left: 0;
    opacity: 0.1;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
}

form table {
    background: #f8f8f8;
    margin: 0 0 1em 0;
    padding: 1em;
    width: 100%;
}
form table th {
    text-align: left;
}
form table td {
    text-align: right;
}
form table th label {
    font-weight: normal;
}
form input {
    width: 15em;
}
form input[type="checkbox"] {
    width: 1.2em;
}
form input[type="submit"], form input[type="button"], form button {
    width: auto;
}

form select {
    width: 15.6em;
}
form textarea {
    height: 4em;
    width: 16.6em;
}
form .size-wrapper > input {
    width: 6em;
}
form .size-wrapper > select {
    width: 9em;
}

#form {
    display: inline-block;
    float: left;
    margin-right: 1em;
    width: 420px;
}

div.page {
    display: inline-block;
    padding: 2em 0 0 2em;
}
div.page#page-editor {
    padding: 0;
}

#themes-source {
    background: #fff;
    border: 1px solid #888;
    border-radius: 2px;
    height: 15em;
    padding: 3px;
    width: 928px;
}
#header {
    padding: 0 .2em 1em 25px;
    width: calc(1358px + 1em);
}
#footer {
    background: linear-gradient(#eee 1em, #ccc 2em);
}

#fp-wrapper {
    background-image: linear-gradient(90deg, transparent 26px, #000000 26px);
    border: none;
    float: left;
    height: 800px;
    margin: 0 1em 0 0;
    overflow: hidden;
    padding: 2px 2px 2px 14px;
    position: relative;
    text-align: right;
    width: 514px;
}

#frontpage {
    background: #fff;
    border: 0;
    cursor: pointer;
    display: inline-flex;
    flex-flow: column;
    float: right;
    height: 800px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    transform: scale(1.0);
    transform-origin: top right;
    width: 500px;
    -moz-transform: scale(1.0);
}
#frontpage div.wrapper {
    display: table;
    flex-grow: 1;
    overflow: hidden;
    text-align: center;
}
#frontpage div.text {
    background: transparent;
    display: table-cell;
    height: 100%;
    width: 100%;
}

#pointer {
    background: seagreen;
    border-radius: 5px;
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    top: -200px;
    width: 20px;
}

#global {
    float: left;
    width: 420px;
}

#download {
    background: green;
    border: none;
    border-radius: .25em;
    box-shadow: .125em .125em .25em rgba(0, 0, 0, .25);
    color: #fff;
    cursor: pointer;
    float: right;
    font-size: 20px;
    font-weight: bold;
    padding: .5em 1em;
    text-shadow: -1px -1px 2px rgba(0, 0, 0, .5);
}
#download:hover {
    box-shadow: .125em .125em .25em rgba(0, 0, 0, .5);
}

#page-source {
}

#jsonText {
    height: 15em;
    width: 928px;
}

.clear {
    clear: both;
}

h3.accordeon {
    /*border: 1px solid #000000;*/
    cursor: pointer;
    margin: 0;
    padding: .5em;
}
h3.accordeon > i {
    color: #888;
    float: right;
}
h3.accordeon:hover {
    background: #f8f8f8;
}

#themes-source {
    overflow-x: scroll;
    overflow-y: hidden;
}
#themes-source .theme {
    border-radius: .5em;
    cursor: pointer;
    display: inline-block;
    margin: .5em 0;
    padding: 0 1.25em;
    text-align: center;
    width: auto;
}
#themes-source .theme:hover {
    background: #88a;
}
#themes-source .theme figcaption {
    font-size: 400%;
}